<!DOCTYPE html>
<html>
<head>
  <title>Specific User Details</title>
</head>
<body>
  <h1>Specific User Details</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Password</th>
      <th>Maintenance Data</th>
      <th>Payment Data</th>
    </tr>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.password %></td>
      <td>
        <% if (user.data && user.data.length > 0) { %>
          <ul>
            <% user.data.forEach((data) => { %>
              <li><%= data %></li>
            <% }) %>
          </ul>
        <% } else { %>
          <p>No data available</p>
        <% } %>
      </td>
      <td>
        <% if (user.data2 && user.data2.length > 0) { %>
          <ul>
            <% user.data2.forEach((data2) => { %>
              <li><%= data2 %></li>
            <% }) %>
          </ul>
        <% } else { %>
          <p>No data available</p>
        <% } %>
      </td>
    </tr>
  </table>
  <h2>Add Data</h2>
  <form method="POST" action="/add-data/<%= user._id %>">
    <input type="text" name="data" placeholder="Enter Maintainenance Update" required>
    <input type="submit" value="Add">
  </form>
  <form method="POST" action="/add-data2/<%= user._id %>">
    <input type="text" name="data2" placeholder="Enter Payment" required>
    <input type="submit" value="Add">
  </form>
  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>

  <form method="GET" action="/details">
    <button type="submit">View Details</button>
  </form>
</body>
</html>
