<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>View Prospective Customers</title>
  <style>
    body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 30px 0;
  }
  
  div {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  p {
    margin: 10px 0;
  }
  
  strong {
    font-weight: bold;
  }
  
  hr {
    margin: 20px 0;
    border: 1px solid black;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  </style>
</head>
<body>
  <h1>View Prospective Customers</h1>
  <% if (prospectiveCustomers.length > 0) { %>
  <% prospectiveCustomers.forEach((customer) => { %>
    <div>
      <p><strong>Name:</strong> <%= customer.name %></p>
      <p><strong>Email:</strong> <%= customer.email %></p>
      <p><strong>Age:</strong> <%= customer.age %></p>
      <p><strong>Gender:</strong> <%= customer.gender %></p>
      <p><strong>Phone Number:</strong> <%= customer.phoneNumber %></p>
      <p><strong>Looking For:</strong> <%= customer.lookingFor %></p>
      <p><strong>Dietary Preferences:</strong> <%= customer.dietaryPreferences %></p>
      <p><strong>Drinks:</strong> <%= customer.drinks %></p>
      <p><strong>Smoke:</strong> <%= customer.smoke ? 'Yes' : 'No' %></p>
      <p><strong>Origin:</strong> <%= customer.origin %></p>
      <p><strong>Field of Study:</strong> <%= customer.fieldOfStudy %></p>
    </div>
    <hr>
    <% }); %>
    <% } else { %>
    <p>No prospective customers found.</p>
  <% } %>
  <br>
  <a href="/add-users"><button>Back</button></a>
</body>
</html>
