<!DOCTYPE html>
<html>
<head>
  <title>Welcome User</title>
</head>
<body>
  <h1>Welcome <%= user.name %>!</h1>
  <p>Phone: <%= user.phone %></p>
  <p>Email: <%= user.email %></p>
  <table>
    <tr>
      <th>Maintenance History</th>
    </tr>
    <tr>
      <td>
        <% if (user.data && user.data.length > 0) { %>
          <ul>
            <% user.data.forEach((data) => { %>
              <li><%= data %></li>
            <% }) %>
          </ul>
        <% } else { %>
          <p>No data available</p>
        <% } %>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Payment History</th>
    </tr>
    <tr>
      <td>
        <% if (user.data2 && user.data2.length > 0) { %>
          <ul>
            <% user.data2.forEach((data2) => { %>
              <li><%= data2 %></li>
            <% }) %>
          </ul>
        <% } else { %>
          <p>No data available</p>
        <% } %>
      </td>
    </tr>
  </table>
  <form action="/user-data" method="POST">
    <label for="data">Enter Maintenance Data:</label>
    <input type="text" id="data" name="data" required>
    <br>
    <input type="submit" value="Submit">
  </form>
  <form action="/user-data2" method="POST">
    <label for="data2">Enter Payment Data:</label>
    <input type="text" id="data2" name="data2" required>
    <br>
    <input type="submit" value="Submit">
  </form>
  <% if (confirmationMessage) { %>
    <p><%= confirmationMessage %></p>
  <% } %>
  <a href="/eventslist">View Events</a>
  <form method="POST" action="/book-event">
    <input type="text" name="eventName" placeholder="Event Name" required>
    <input type="date" name="eventDate" required>
    <input type="time" name="startTime" required>
    <input type="time" name="endTime" required>
    <input type="submit" value="Book Event">
  </form>
  <br>
  <a href="/viewprospective2" class="btn">View Prospective Customers</a><br>
  <form method="POST" action="/user-logout">
    <button type="submit">Logout</button>
  </form>
</body>
</html>